.nav-navbar {
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 25;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-shadow: 1px 8px 12px #000;
}
.display-none{
  display: none;
}
.nav-navbar .logo-navbar {
  text-decoration: none;
  color: #fff;
}

.nav-navbar .ul-navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 7em;
}

.nav-navbar .ul-navbar .li-navbar {
  color: #bbbbbb;
  cursor: pointer;
  text-decoration: none;
}

.nav-navbar .ul-navbar .li-navbar:hover {
  color: #ffffff;
}
