body {
  background-color: #706d68;
}

.store {
  padding: 48vw 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.store .palabra-fondo-store {
  color: #141312;
  font-family: monospace;
  top: 17vw;
  font-size: 12vw;
  z-index: -1;
  font-weight: bold;
  position: fixed;
  margin: auto;
}
.store .contenedor-redes-fondo-store {
  display: flex;
  justify-content: space-around;
  width: 20%;
  top: 32vw;
  position: fixed;
  gap: 1.5em;
}

.store .redes-fondo-store {
  font-size: 1.9rem;
  z-index: -1;
  font-weight: bold;
  color: #050505;

}

.redes-fondo-store :hover{
  color: #fff;
}

.store .contenedor-products {
  padding: 5em 0 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 0.5em;
  background-color: rgba(53, 53, 53, 0.781);
  padding: 1em;
  border-radius: 9px;
  margin: 0.5em;
  width: 100%;
  min-width: 270px;
  margin-bottom: 8em;
  box-shadow: 4px 6px 40px 10px;

}

.store .contenedor-products .articulo {
  background-color: #ffffff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 240px;
  max-width: 290px;
}

.store .contenedor-products .articulo .cont-img-articulo-store {
  display: flex;
  justify-content: center;
  position: relative;
}

.store
  .contenedor-products
  .articulo
  .cont-img-articulo-store
  .img-articulo-store {
  width: 60%;
  max-width: 292px;
  min-width: 150px;
  max-height: 335px;
  position: relative;
  display: block;
  object-fit: cover;
  border-radius: 9px;

}

@media(max-width:355px){
  .store
  .contenedor-products
  .articulo
  .cont-img-articulo-store .img-articulo-store{
    width: 60%;
    min-width: 50px;
  }
}

.store .contenedor-products .articulo .cont-img-articulo-store::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px 9px 0px 0px;
  background: linear-gradient(
    to top,
    #000000f3,
    #00000000 30%,
    #00000000 50%,
    #00000000
  );
}

.store .contenedor-products .articulo .data-articulo {
  background-color: #1f1f1f;
  font-family: sans-serif;
  font-size: 1.1em;
  width: 100%;
  min-height: 230px;
  max-height: 200px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
  border-radius: 0px 0px 9px 9px;
  gap: 0.5em;
  position: relative;
}

.store .contenedor-products .articulo .data-articulo .precio-producto-store {
  font-size: 1.5em;
}

.store .contenedor-products .articulo .data-articulo .button-add-store {
  padding: 0.8em 4em 0.8em 0.9em;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1em;
  gap: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 0px 0px 9px 9px;
  background-color: #2ea12e;
  color: #fff;
}

.store
  .contenedor-products
  .articulo
  .data-articulo
  .button-add-store
  .arrow-flecha-store {
  font-size: 1.3em;
}

.store .separador-products {
  position: relative;
  width: 100%;
  background: #00000083;
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, max-content);
  justify-items: center;
  padding: 1em;
  gap: 5px;
box-shadow: 4px 6px 40px 10px;

}

.store .separador-products .img-separador {
  width: 100%;
  border-radius: 9px;
  transition: 0.4s all ease;
}

.store .separador-products .img-separador:hover {
  transform: scale(1.1);
  transition: 0.4s all ease;
}

.store .separador-products .img-separador-store-cuatro {
  grid-column: 4/6;
  grid-row: 1;
}

.store .separador-products .img-separador-store-uno {
  grid-column: span 2;
}

.store .separador-products .img-separador-store-dos {
  background-color: #ffffff42;
}

.store .contenedor-mensaje-animado {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s all ease;
  background-color: #000000a2;
}

.store .contenedor-mensaje-animado .mensaje-animado {
  color: #fff;
  transform: translateX();
  transition: 1s all ease;
  font-size: 9em;
  font-family: sans-serif;
  transform: rotateX(90deg);
}
